body {
    background-color:#CCFFCC;
}


.navbar {
    height: 60px;
}

.navbar-brand {
    font-size:26px;
}

.card {
    width:20rem;
}

.collapse p {
    padding: 10px;
}

ul {
    text-align: left;
    padding: 10px;
}

.img-fluid {
    max-width: 200px;
}